/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  line-height: 1.6;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Contenedor principal */
.container {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  text-align: center;
}

/* Título */
h1 {
  color: #007bff;
  margin-bottom: 15px;
  font-size: 2rem;
}

/* Párrafo */
p {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  color: #555;
  margin-bottom: 20px;
}

/* Botón */
button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #004085;
  transform: translateY(1px);
}

/* Resultado dinámico */
#resultado {
  margin-top: 15px;
  font-weight: bold;
  color: #2c3e50;
}

header {
    width: 100%;
    position: fixed; / Mantiene el header en la parte superior */
    top: 0;
    left: 0;
    background-color: var(--color-primary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;


}

.nav-horizontal {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    padding: 1rem 1.rem; 
}

.nav-horizontal a {
    text-decoration: none;
    color: var(--color-card-background);
    padding: 0.75rem 1.2rem;
    font-weight: bold;
    font-size: 1.7rem;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    white-space: nowrap; 
    border-radius: var(--border-radius-base);
}

.nav-horizontal a:hover {
    color: white;
    transform: translateY(-2px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.menu-toggle, .menu-icon {
    display: none;
}